body{
  color: white;
  background-image: url('background.jpg');
  background-size: 100%;
  box-sizing: border-box;
  margin: 3%;
  font-family: sans-serif;
}
.container{
  background-color:  rgba(0, 0, 0, 0.5);
  width: 1000px;
  height: 750px;
  margin:auto;
  border-radius: 25px;
  box-sizing: border-box;
}
.logo{
  width: 200px;
  box-sizing: border-box;
  margin-top: 20px;
}
header,h1{
  text-align: center;
  color: #44e305;
}
nav{
  background-color: #44e305;
  text-align: center;
  padding: 7px;
  margin-left: 80px;
  margin-right: 80px;
  box-sizing: border-box;
}
main{
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
}
.carica1{
  margin-top: 5px;
  width: 250px;
  height: 20px;
  background-color:#ffff66;
  border-radius: 5px;
}
.carica2{
  margin-top: 5px;
  width: 500px;
  height: 20px;
  background-color:#44e305;
  border-radius: 5px;
}
.carica3{
  margin-top: 5px;
  width: 150px;
  height: 20px;
  background-color:#fa8072;
  border-radius: 5px;
}
.arrow{
  color: white;
}
.square{
  width: 10px;
  height: 10px;
  color: white;
  padding: 2px;
}
